<!-- Services Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Proyectos</h2>
                    <h3 class="section-subheading text-muted">Somos un centro de programas de formación artísticos hechos a la medida.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Danza</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Musica</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teatro</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pintura</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr>
                    <h2 class="section-heading">¿Qué hacemos?</h2>
                    <h4 class="text-justify">Detectar problemáticas sociales en las zonas de polígonos de pobreza para ofrecer programas de formación artística que se ajusten a su contexto.</h3>
                    <h4 class="text-justify">Contribuimos a la restauración del tejido social a través de programas artísticos como danza, música, teatro y pintura.</h3>
                </div>
            </div>
        </div>
    </section>
